<a href="https://colab.research.google.com/github/kolugurishivani/BirthdayCoupons/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#PROBLEM STATEMENT
train a model to learn the the table of 10
"y = 10*x"
--------
this is a multiline code
--------

#DATA CREATION
Equation:y=10*x
TAGET->

-------
x = [0,1,2,3,4,5,.....]
y = [0,10,20,30,40,50,.]
-------

In [7]:
x = [i for i in range(21)]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
x=[i for i in range(21)]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [12]:
y = [i for i in range(21)]
print(y)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# approach 2
 i am super enthusiastic so i am getting started

In [13]:
print(f"This is x:{x}")
print(f"This is y:{y}")

This is x:[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
This is y:[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]